@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:500,700|Montserrat:300,400,700,900&display=swap');
@import 'vars';
@import 'fonts';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;

  &.lock {
    overflow: hidden;
  }
}

body {
  background-color: $bg-main;
  overflow-x: hidden;
  min-width: 300px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;

  @include mqd(680px) {
    padding: 0 10px;
  }
}

.aside-title {
  @include cg700;
  color: $text5;
  font-size: $l;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid $border3;
}

.btn {
  @include m400;
  color: $text1;
  font-size: $xl;
  background-color: rgba($bg-button1, .5);
  box-shadow: 0px 17px 24px 0px rgba(48, 63, 159, 0.2);
  border-radius: 25px;
  padding: 15px 25px;
  text-transform: uppercase;
  transition: background-color .3s;
  outline: none;

  &:hover {
    background-color: rgba($bg-button1, 1);
  }
}

.search {
  border: 1px solid transparent;
  border-radius: 30px;
  outline: none;
  
  &:focus {
    border: 1px solid $border6;
  }

  &::placeholder {
    @include m400;
    font-size: $s;
  }
}