@mixin mqd($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

@mixin mqm($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin cg500 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
}

@mixin cg700 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
}

@mixin m300 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

@mixin m400 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

@mixin m700 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

@mixin m900 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

// ============================================================================================================
// Vars

$es: 12px;
$s: 14px;
$m: 16px;
$l: 18px;
$xl: 24px;
$xxl: 28px;
$xxx: 42px;

$text1: #fff;
$text2: #000;
$text3: #707070;
$text4: #cfcfcf;
$text5: #3f51b5;

$bg: #fff;
$bg-main: #f5f5f5;
$bg-header: #191919;
$bg-footer1: #212121;
$bg-footer2: #303030;
$bg-button1: #ff4081;
$bg-button2: #ff4081;
$bg-ms: #303f9f;

$border1: #5c5c5b;
$border2: #ddd;
$border3: #aec3ff;
$border4: #fefefe;
$border5: #e0e0e0;
$border6: #3f51b5;
$border7: #757575;
$border8: #ff4081;

// ============================================================================================================