@import 'global';
@import 'vars';
@import 'fonts';

// *******************************************************Upper Head Start

.upper-head {
  background-color: $bg-header;

  @include mqd(500px) {
    background-color: $bg-ms;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }

  &__social-list {
    display: flex;
    margin: 0 -10px;

    @include mqd(720px) {
      display: none;
    }
  }

  &__social-link {
    padding: 0 10px;

    .icon {
      color: $text3;
      transition: color .3s;

      &:hover {
        color: $text1;
      }
    }
  }

  &__form {
    @include mqd(720px) {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .btn {
      @include m400;
      border: none;
      background-color: transparent;
      font-size: $m;
      color: $text3;
      text-transform: uppercase;
      cursor: pointer;
      padding: 0 15px 0 24px;
      position: relative;
      outline: none;
      transition: color .3s;

      &::before {
        content: '\e908';
        position: absolute;
        left: 0;
        bottom: 1px;
        font-family: 'icomoon';
        font-size: $l;
      }

      &::after {
        content: '';
        position: absolute;
        right: 0;
        height: 100%;
        width: 1px;
        background-color: $text3;

        @include mqd(720px) {
          display: none;
        }
      }

      &:hover {
        color: $text1;
      }

      @include mqd(720px) {
        order: 1;
        padding: 0 0 0 24px;
      }
    }

    .select {
      @include m400;
      margin-left: 15px;
      padding: 0 16px 0 25px;
      font-size: $m;
      color: $text1;
      text-transform: uppercase;
      cursor: pointer;

      @include mqd(720px) {
        margin-left: 0;
      }

      &::before,
      &::after {
        position: absolute;
        font-family: 'icomoon';
        font-size: $l;
      }

      &::before {
        content: '\e90a';
        left: 0;
        bottom: 1px;
      }

      &::after {
        content: '\e901';
        right: 0;
        top: 0;
      }
    }

    .jq-selectbox {
      z-index: 0;
      top: 4px;

      @include mqd(720px) {
        top: 0;
      }

      li {
        margin-top: 5px;
        background-color: rgba(#000, .85);
      }
    }

    .jq-selectbox__select-text {
      width: auto;
    }
  }
}

// *******************************************************Header Start

.header {
  background-color: rgba(#000, .95);
  padding: 25px 0;

  @include mqd(500px) {
    background-color: $bg-button1;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {

    span {
      @include m700;
      font-size: $xl;
      color: $text1;
      text-transform: uppercase;
    }
  }

  &-wrap{
    display: flex;
    align-items: center;
  }

  &-burger {
    z-index: 10;
    display: none;
    width: 18px;
    height: 12px;
    position: relative;
    cursor: pointer;

    @include mqd(1150px) {
      display: block;
      margin-left: auto;
    }

    @include mqd(720px) {
      margin-left: 0;
      order: -1;
    }

    &.active {
      span:first-child {
        transform: rotate(45deg);
      }

      span:last-child {
        transform: rotate(-45deg);
      }

      &::before,
      &::after {
        transform: scale(0);
      }
    }

    &:hover{
      span{
        background-color: $bg-button2;
      }

      &::before,
      &::after{
        background-color: $bg-button2;
      }
    }

    span {
      position: absolute;
      background-color: $bg;
      width: 100%;
      height: 2px;
      top: 50%;
      transform: translateY(-50%);
      transition: transform .3s, background-color .3s;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $bg;
      transform: scale(1);
      transition: transform .3s, background-color .3s;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  &-menu{
    @include mqd(1150px){
      position: absolute;
      z-index: 5;
      left: 0;
      top: -100%;
      width: 100%;
      height: 100%;
      background-color: $bg-header;
      overflow: auto;
      transition: top .3s;
    }

    &.active{
      top: 0;
    }
  }
  
  &-list {
    display: flex;

    @include mqd(1150px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    li + li{
      margin-left: 30px;

      @include mqd(1150px) {
        margin-left: 0;
        margin-top: 40px;
      }
    }

    &__link {
      text-transform: uppercase;
      @include m700;
      font-size: $s;
      color: $text1;
      padding-right: 20px;
      position: relative;

      @include mqd(1150px) {
        font-size: $xxl;
      }

      &:hover {
        &::before{
          transform: scale(1);
        }
      }

      &::after{
        content: '\e901';
        position: absolute;
        font-family: 'icomoon';
        right: 0;
        font-size: $s;

        @include mqd(1150px) {
          display: none;
        }
      }

      &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: -20px;
        background-color: $bg-button2;
        transform: scale(0);
        transition: transform .3s;
      }
    }
  }

  &-icon {
    display: flex;
    margin-left: 40px;

    @include mqd(1150px) {
      margin-left: 24px;
    }

    @include mqd(720px) {
      margin-left: 0;
    }

    &__link{
      font-size: $xl;
      color: $text1;
      transition: color .3s;

      &:hover{
        color: $border8;

        .cart-quantity{
          color: $text1;
        }
      }
    }

    li:nth-child(1),
    li:nth-child(2){
      @include mqd(720px) {
        display: none;
      }
    }

    li + li{
      border-left: 1px solid $border7;
      margin-left: 12px;
      padding-left: 12px;

      @include mqd(720px) {
        border-left:  none;
        margin-left: 0;
        padding-left: 0;
      }
    }

    .icon-local_grocery_storeshopping_cart{
      position: relative;

      .cart-quantity{
        display: flex;
        justify-content: center;
        align-items: center;
        @include m400;
        font-size: $s;
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $bg-button2;
        right: -16px;
        top: -17px;
      }
    }
  }
}