@import 'global';
@import 'vars';
@import 'fonts';

// *******************************************************Upper Head Start

.upper-head {
  z-index: 10;
  background-color: $bg-header;

  @include mqd(600px) {
    background-color: $bg-ms;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }

  &__social-list {
    display: flex;
    margin: 0 -10px;

    @include mqd(720px) {
      display: none;
    }
  }

  &__social-link {
    padding: 0 10px;

    .icon {
      color: $text3;
      transition: color .3s;

      &:hover {
        color: $text1;
      }
    }
  }

  &__form {
    @include mqd(720px) {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .btn {
      @include m400;
      border: none;
      background-color: transparent;
      font-size: $m;
      color: $text3;
      text-transform: uppercase;
      cursor: pointer;
      padding: 0 15px 0 24px;
      position: relative;
      outline: none;
      transition: color .3s;

      &::before {
        content: '\e908';
        position: absolute;
        left: 0;
        bottom: 1px;
        font-family: 'icomoon';
        font-size: $l;
      }

      &::after {
        content: '';
        position: absolute;
        right: 0;
        height: 100%;
        width: 1px;
        background-color: $text3;

        @include mqd(720px) {
          display: none;
        }
      }

      &:hover {
        color: $text1;
      }

      @include mqd(720px) {
        order: 1;
        padding: 0 0 0 24px;
      }
    }

    .select {
      @include m400;
      margin-left: 15px;
      padding: 0 16px 0 25px;
      font-size: $m;
      color: $text1;
      text-transform: uppercase;
      cursor: pointer;

      @include mqd(720px) {
        margin-left: 0;
      }

      &::before,
      &::after {
        position: absolute;
        font-family: 'icomoon';
        font-size: $l;
      }

      &::before {
        content: '\e90a';
        left: 0;
        bottom: 1px;
      }

      &::after {
        content: '\e901';
        right: 0;
        top: 0;
      }
    }

    .jq-selectbox {
      z-index: 0;
      top: 4px;

      @include mqd(720px) {
        top: 0;
      }

      li {
        margin-top: 5px;
        background-color: rgba(#000, .85);
      }
    }

    .jq-selectbox__select-text {
      width: auto;
    }
  }
}

// *******************************************************Header Start

.header {
  position: absolute;
  width: 100%;
  height: 100vh;

  .container {
    @include mqd(600px) {
      background-color: $bg-button1;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0 25px;
  }

  &-logo {
    z-index: 5;

    span {
      @include m700;
      font-size: $xl;
      color: $text1;
      text-transform: uppercase;
    }
  }

  &-wrap {
    display: flex;
    align-items: center;
  }

  &-burger {
    z-index: 10;
    display: none;
    width: 18px;
    height: 12px;
    position: relative;
    cursor: pointer;

    @include mqd(1150px) {
      display: block;
      margin-left: auto;
    }

    @include mqd(720px) {
      margin-left: 0;
      order: -1;
    }

    &.active {
      span:first-child {
        transform: rotate(45deg);
      }

      span:last-child {
        transform: rotate(-45deg);
      }

      &::before,
      &::after {
        transform: scale(0);
      }
    }

    &:hover {
      span {
        background-color: $bg-button2;
      }

      &::before,
      &::after {
        background-color: $bg-button2;
      }
    }

    span {
      position: absolute;
      background-color: $bg;
      width: 100%;
      height: 2px;
      top: 50%;
      transform: translateY(-50%);
      transition: transform .3s, background-color .3s;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $bg;
      transform: scale(1);
      transition: transform .3s, background-color .3s;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  &-menu {
    z-index: 5;

    @include mqd(1150px) {
      position: absolute;
      left: 0;
      top: -100%;
      width: 100%;
      height: 100%;
      background-color: $bg-header;
      overflow: auto;
      transition: top .3s;
    }

    &.active {
      top: 0;
    }
  }

  .list {
    display: flex;

    @include mqd(1150px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    li+li {
      margin-left: 30px;

      @include mqd(1150px) {
        margin-left: 0;
        margin-top: 40px;
      }
    }

    &__link {
      text-transform: uppercase;
      @include m700;
      font-size: $s;
      color: $text1;
      padding-right: 20px;
      position: relative;

      @include mqd(1150px) {
        font-size: $xxl;
      }

      &:hover {
        &::before {
          transform: scale(1);
        }
      }

      &::after {
        content: '\e901';
        position: absolute;
        font-family: 'icomoon';
        right: 0;
        font-size: $s;

        @include mqd(1150px) {
          display: none;
        }
      }

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: -20px;
        background-color: $bg-button2;
        transform: scale(0);
        transition: transform .3s;
      }
    }
  }

  &-icon {
    display: flex;
    margin-left: 40px;
    z-index: 4;

    @include mqd(1150px) {
      margin-left: 24px;
    }

    @include mqd(720px) {
      margin-left: 0;
    }

    &__link {
      font-size: $xl;
      color: $text1;
      transition: color .3s;

      &:hover {
        color: $border8;

        .cart-quantity {
          color: $text1;
        }
      }
    }

    li:nth-child(1),
    li:nth-child(2) {
      @include mqd(720px) {
        display: none;
      }
    }

    li+li {
      border-left: 1px solid $border7;
      margin-left: 12px;
      padding-left: 12px;

      @include mqd(720px) {
        border-left: none;
        margin-left: 0;
        padding-left: 0;
      }
    }

    .icon-local_grocery_storeshopping_cart {
      position: relative;

      .cart-quantity {
        display: flex;
        justify-content: center;
        align-items: center;
        @include m400;
        font-size: $s;
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $bg-button2;
        right: -16px;
        top: -17px;
      }
    }
  }
}

// *******************************************************Main Slider Start

.slider {
  background: 50%/cover no-repeat;
  flex: 1 0 100%;
  background-color: rgba($bg-header, .85);
  background-blend-mode: multiply;
  position: relative;

  @include mqd(600px) {
    display: none;
  }

  .slick-arrow {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: $xxx;
    padding: 0;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    color: $text1;
  }

  .slick-prev {
    left: 40px;
  }

  .slick-next {
    right: 40px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    li+li {
      margin-left: 30px;
    }

    .slick-active {
      button {
        background-color: rgba($bg-ms, 1);
      }
    }

    button {
      font-size: 0;
      background-color: rgba($bg-ms, .5);
      border: none;
      width: 15px;
      height: 15px;
      outline: none;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  &-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-content {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 0 20px;
  }

  &-subtitle {
    @include m400;
    color: $text1;
    text-transform: uppercase;
    font-size: $xxl;
    margin-bottom: 15px;
  }

  &-title {
    text-align: center;
    @include m900;
    font-size: $xxx;
    color: $text1;
    text-transform: uppercase;
    margin-bottom: 35px;
    max-width: 815px;
    width: 100%;

    @include mqd(920px) {
      font-size: $xxl;
    }
  }

  &-link {
    margin-bottom: 70px;
  }

  &-person {
    text-align: center;

    &__avatar {
      margin: 0 auto 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    &__name {
      @include m400;
      color: $text1;
      font-size: $s;
      margin-bottom: 10px;
    }

    &__date {
      @include m400;
      color: $text4;
      font-size: $es;
      margin-bottom: 30px;
    }

    &__comment,
    &__like {
      @include m400;
      color: $text4;
      font-size: $es;
      padding-left: 23px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        font-family: 'icomoon';
        font-size: $m;
        color: $text4;
        top: -3px;
      }
    }

    &__comment {
      margin-right: 30px;

      &::before {
        content: '\e90c';
      }
    }

    &__like {

      &::before {
        content: '\e909';
      }
    }
  }
}

// *******************************************************MixItUp Start

.sort-blog {
  background-color: $bg;
  padding: 15px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid $border2;

  &__inner {
    display: flex;
    align-items: center;

    @include mqd(900px) {
      justify-content: center;
    }

    @include mqd(720px) {
      justify-content: space-between;
    }

    @include mqd(600px) {
      display: none;
    }
  }

  &__title {
    @include m700;
    color: $text2;
    font-size: $m;
    min-width: 82px;

    @include mqd(900px) {
      font-size: $xxx;
    }

    @include mqd(720px) {
      width: 33.333%;
    }

    @include mqd(700px) {
      font-size: $xxl;
    }
  }

  &__list {
    display: flex;

    @include mqd(1100px) {
      justify-content: space-between;
      width: 100%;
    }

    @include mqd(900px) {
      display: block;
      width: 50%;
    }

    @include mqd(720px) {
      width: 66.667%;
    }

    li {
      margin-left: 20px;
    }
  }

  &__mix {
    @include m400;
    text-transform: uppercase;
    font-size: $m;
    color: $text2;
    background-color: $bg-main;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
    padding: 10px 25px;
    border-radius: 20px;
    transition: border .3s, color .3s;

    @include mqd(900px) {
      width: 100%;
    }

    &:hover {
      border: 1px solid $border6;
      color: $text5;
    }
  }
}

// *******************************************************Page Content Start

.page-content {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    right: -72%;
    top: 0;
    background-color: $bg;
    z-index: -1;
  }

  &__wrapper {
    display: flex;
  }

  // ----------------------------------------------------------------Main
  &__main {
    flex: 1 1 100%;
  }

  // ----------------------------------------------------------------Aside
  &__aside {
    max-width: 310px;
    width: 100%;
    height: 100%;
    margin-left: 40px;
    background-color: $bg;
    border-top-left-radius: 5px;

    .aside-content {
      padding: 23px 0 0 40px;

      &__search {
        position: relative;
        margin-bottom: 30px;

        &-btn {
          position: absolute;
          right: 8px;
          top: 50%;
          transform: translateY(-50%);
          background-color: $bg-button2;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          border: none;
          cursor: pointer;
          outline: none;

          &::before {
            content: '\e90b';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-family: 'icomoon';
            font-size: $xl;
            color: $text1;
          }
        }

        .search {
          width: 100%;
          padding: 15px 50px 15px 20px;
          background-color: $bg-main;
        }
      }

      &__categories {
        margin-bottom: 40px;

        &-list {

          li+li {
            border-top: 1px solid $border2;
            padding-top: 12px;
            margin-top: 12px;
          }
        }

        &-link {
          @include cg500;
          font-size: $l;
          color: $text2;
          width: 100%;
          position: relative;

          .count {
            position: absolute;
            right: 0;
          }
        }
      }

      &__subscribe {
        margin-bottom: 20px;

        &-form {

          .name,
          .email {
            @include cg700;
            text-transform: uppercase;
            font-size: $m;
          }

          .form-name,
          .form-email {
            border: 1px solid $border2;
            border-radius: 3px;
            display: block;
            width: 100%;
            padding: 15px;
            outline: none;
            margin: 15px 0;

            &:focus {
              border: 1px solid $border6;
            }

            &::placeholder {
              @include m400;
              font-size: $s;
            }
          }

          .btn {
            @include m400;
            font-size: $xl;
            color: $text1;
            padding: 16px;
            text-align: center;
            width: 100%;
            background-color: $bg-button1;
            cursor: pointer;
            outline: none;
            border: none;
            border-radius: 3px;
            text-transform: uppercase;
            transition: background-color .3s, color .3s;

            &:hover {
              background-color: $border3;
              color: $text2;
            }
          }
        }
      }

      &__social {
        margin-bottom: 50px;

        &-decor {
          @include cg700;
          font-size: $l;
          text-align: center;
          margin-bottom: 20px;
          position: relative;
          z-index: 2;

          &::before,
          &::after {
            content: '';
            position: absolute;
          }

          &::after {
            background-color: $bg;
            width: 30px;
            height: 100%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
          }

          &::before {
            width: 100%;
            height: 1px;
            background-color: $border7;
            left: 0;
            top: 11px;
            z-index: -1;
          }
        }

        &-list {
          display: flex;
          justify-content: space-between;

          .icon-facebook {
            background-color: #3b5999;
          }

          .icon-twitter {
            background-color: #55acee;
          }

          .icon-vk {
            background-color: #4c75a3;
          }

          .icon-pinterest-p {
            background-color: #ff2e56;
          }

          .icon-dribbble {
            background-color: #ea4c89;
          }
        }

        &-link {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          color: $text1;
        }
      }

      &__tab {
        margin-bottom: 20px;

        [data-tab-content] {
          display: none;
        }

        .active[data-tab-content] {
          display: block;
        }

        &-list {
          display: flex;
          border: 2px solid $border6;
          border-radius: 3px;

          .tab {
            padding: 15px 0;
            flex: 0 0 50%;
            text-align: center;
            text-transform: uppercase;
            color: $text5;
            cursor: pointer;

            &.active {
              color: $text1;
              background-color: $bg-button1;
            }
          }
        }

        &-box {
          margin: 20px 0 50px;
        }

        &-content {
          position: relative;
          display: flex;
          @include cg500;

          &+.aside-content__tab-content {
            border-top: 1px solid $border2;
            padding-top: 15px;
            margin-top: 15px;
          }
        }

        &-link {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        &-img {
          margin-right: 15px;
          flex: 0 0 100px;
          height: 80px;
          overflow: hidden;

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &-date {
          display: flex;
          justify-content: space-between;
          margin-bottom: 7px;

          .chat {
            position: relative;

            &::before {
              content: '\e90c';
              position: absolute;
              font-family: 'icomoon';
              font-size: $m;
              color: $text5;
              left: -17px;
            }
          }
        }

        &-comment {
          font-weight: 700;
        }
      }

      &__tag {

        &-list {
          display: flex;
          flex-wrap: wrap;
          margin: 0 5px;

          li {
            padding: 5px 5px;
          }

          li:nth-child(1),
          li:nth-child(2),
          li:nth-child(6),
          li:nth-child(7) {
            width: 50%;
          }

          li:nth-child(3),
          li:nth-child(4),
          li:nth-child(5) {
            width: 33.333%;
          }
        }

        &-link {
          @include cg700;
          padding: 9px 0;
          text-align: center;
          width: 100%;
          background-color: $bg-main;
          border-radius: 3px;
          color: $text2;
        }
      }
    }
  }
}

// *******************************************************Img Row Start

.images-row {
  display: flex;

  @include mqd(600px) {
    display: none;
  }

  &__wrap {
    background: 50%/cover no-repeat;
    padding-bottom: 12.57%;
    flex: 1 1 12.5%;
  }
}

// *******************************************************Subscribe Start

.subscribe {
  background: bottom/cover no-repeat;
  padding-bottom: 13.20%;
  background-color: rgba(#000, .5);
  background-blend-mode: multiply;
  position: relative;

  @include mqd(1200px) {
    padding-bottom: 18%;
  }

  @include mqd(920px) {
    padding-bottom: 21%;
  }

  @include mqd(750px) {
    padding-bottom: 27%;
  }

  @include mqd(600px) {
    display: none;
  }

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

    @include mqd(1200px) {
      flex-wrap: wrap;
    }
  }

  &__title {
    @include m900;
    color: $text1;
    font-size: $xxx;

    @include mqd(1200px) {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }

    @include mqd(750px) {
      font-size: $xxl;
    }
  }

  form {
    margin-left: 34px;

    @include mqd(1200px) {
      margin-left: 0;
    }
  }

  &__email {
    border: 1px solid $border7;
    border-radius: 22px;
    background-color: rgba(48, 48, 48, .4);
    padding: 15px;
    outline: none;
    color: $text1;
    width: 270px;

    &::placeholder {
      @include cg700;
    }
  }

  &__btn {
    margin-left: 25px;
    border: none;
    cursor: pointer;
  }
}

// *******************************************************Widgets Start

.widget {
  background-color: $bg-footer1;
  padding: 50px 0 75px;

  @include mqd(680px) {
    padding-bottom: 27px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @include mqd(1200px) {
      flex-wrap: wrap;
      margin-left: -30px;
    }

    @include mqd(680px) {
      margin-left: 0;
      flex-direction: column;
    }
  }

  &-box {
    flex: 0 0 270px;

    @include mqd(1200px) {
      margin-left: 30px;
      flex-basis: calc(50% - 30px);

      &:nth-child(1) {
        order: 2;
        margin-top: 50px;
      }

      &:nth-child(3) {
        order: 1;
        margin: 50px 0;
      }
    }

    @include mqd(680px) {
      flex: 0 1 100%;
      margin-left: 0;

      &:nth-child(4) {
        margin-top: 50px;
      }
    }
    @include mqd(630px) {

      &:nth-child(1) {
        margin-top: 0;
      }
    }
  }

  &-title {
    @include m700;
    font-size: $l;
    color: $text1;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  // ----------------------------------Spoiler
  &-spoiler {
    border: 1px solid $border7;
    border-radius: 3px;
    padding: 0 14px;
    margin-bottom: 5px;


    &__title {
      @include m700;
      font-size: $s;
      color: $text4;
      text-transform: uppercase;
      position: relative;
      padding: 17px 0 17px 14px;
      cursor: pointer;
      border-bottom: 1px solid transparent;

      &.active {
        border-bottom: 1px solid $border7;
        color: $bg-button2;

        .widget-spoiler__list {
          display: block;
        }

        &::before {
          display: none;
        }
      }

      &:hover {

        &::after,
        &::before {
          background-color: $bg;
        }
      }

      &::after,
      &::before {
        content: '';
        position: absolute;
        background-color: $border7;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color .3s;
      }

      &::after {
        width: 14px;
        height: 2px;
        right: 0;
      }

      &::before {
        width: 2px;
        height: 14px;
        right: 6px;
      }
    }

    &__list {
      display: none;

      li:nth-child(3) {
        padding-bottom: 20px;
      }
    }

    &__link {
      @include cg700;
      font-size: $l;
      margin-top: 15px;
      padding-left: 14px;
      width: 100%;
      color: $text3;
      transition: color .3s;

      &:hover {
        color: $text1;
      }
    }
  }

  // ----------------------------------Twitter
  &-content {

    &+.widget-content {
      margin-top: 13px;
      padding-top: 13px;
      border-top: 1px solid #3c3c3c;
    }

    &__commit {
      @include cg700;
      color: $text4;
      padding-left: 45px;
      margin-bottom: 10px;
      position: relative;

      &::before {
        content: '\f099';
        position: absolute;
        font-family: 'icomoon';
        font-size: $xl;
        left: 0;
        color: #55acee;
      }
    }

    &__time {
      display: inline-block;
      @include cg500;
      font-size: $s;
      color: $text3;
      margin-right: 6px;
    }

    &__link {
      text-decoration: underline;
      color: $text3;
      transition: color .3s;

      &:hover {
        color: $bg-button2;
      }

      &+.widget-content__link {
        margin-left: 14px;
      }
    }
  }

  // ----------------------------------Social
  &-social {
    margin-top: 30px;

    &__list {
      display: flex;
      justify-content: space-between;

      @include mqd(1200px) {
        justify-content: flex-start;

        li+li {
          margin-left: 20px;
        }
      }

      .icon-facebook {
        background-color: #3b5999;
      }

      .icon-twitter {
        background-color: #55acee;
      }

      .icon-vk {
        background-color: #4c75a3;
      }

      .icon-pinterest-p {
        background-color: #ff2e56;
      }

      .icon-dribbble {
        background-color: #ea4c89;
      }
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      color: $text1;
    }
  }

  // ----------------------------------Gallery
  &-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;

    &__img {
      margin-bottom: 8px;
      margin-left: 8px;
      flex-basis: calc(33.333% - 8px);

      @include mqd(1200px) {

        &:nth-child(4),
        &:nth-child(3),
        &:nth-child(7) {
          display: none;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  // ----------------------------------Form
  &-form {

    &__name,
    &__email,
    &__area {
      @include cg700;
      font-size: $l;
      color: $text3;
      width: 100%;
      margin-bottom: 10px;
      background-color: transparent;
      border: 1px solid $border7;
      border-radius: 3px;
      padding: 18px 15px 15px;
    }

    &__area {
      resize: none;
      height: 118px;
    }

    &__btn {
      @include m700;
      font-size: $l;
      background-color: transparent;
      border: 1px solid $border7;
      border-radius: 3px;
      width: 100%;
      padding: 16px;
      cursor: pointer;
      color: $text1;
      text-transform: uppercase;
      outline: none;
      transition: background-color .3s;

      &:hover {
        background-color: $bg-footer2;
        border-color: $bg-footer2;
      }
    }
  }
}

// *******************************************************Footer Start

.footer {
  background-color: $bg-footer2;

  .container {
    height: 100%;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    @include mqd(950px) {
      display: none;
    }
  }

  &-search {
    padding: 8px 40px 8px 20px;
    background-color: $bg-footer2;
    border: 1px solid $border7;
    color: $text3;
  }

  &-list {
    display: flex;

    li+li {
      margin-left: 35px;
    }

    &__link {
      text-transform: uppercase;
      @include m700;
      font-size: $es;
      color: $text3;
      transition: color .3s;

      &:hover {
        color: $border8;
      }
    }
  }

  &-form {
    position: relative;
  }

  &-btn {
    position: absolute;
    border-radius: 30px;
    right: 0;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    padding: 0 12px;
    border: none;
    color: $text3;
    outline: none;
  }

  &__rights {
    @include cg700;
    font-size: $l;
    background-color: $bg-footer2;
    text-align: center;
    color: $text3;
    padding: 20px 0;
  }
}